/* Our CSS file. */


.container, .content {
width: 100%;
height: 100%;
}
#container{
    background-color: #f0f0f0;
    padding: 20vh 5vh 20vh 10vh;
}
.card{
    display: flex;
    margin-bottom: 7vh;
    
   
}
.image1{
    
    width: 70vw;
    position: absolute;
    z-index: 3;
    
}
.image2{
    
    width: 70vw;
    position: absolute;
    z-index: 3;
    
}
#image1{
    height: auto;
    position: relative;
    bottom: 80px;
    
    
}
#image2{
    height: auto;
    width: 27vw;
    position: relative;
    top: 60px;
    
}

.background{
    background-color: rgb(154, 231, 154);
    z-index: 1;
    width: 40vw;
    margin-left: 7vh;
}
.content1{
    display: flex;
    flex-direction: column;
    justify-content:center;
    padding: 100px;
    background-color: white;
}
.content1 h1{
    font-size: 50px;
}
.content1 button{
    text-decoration: none;
    background-color: rgb(9, 92, 9);
    color: white;
    width: fit-content;
    border: none;
    border-radius: 20px;
    height: 40px;
    width: 20vh;
    font-weight: 700;
    position: relative;
    top: 40px ;
}  

/* .image2{
    
    width: 70vw;
    height: 70vh;
    vertical-align:text-top; */
   
}
/* .content2{
    display: flex;
    flex-direction: column;
    justify-content:center;
    padding: 100px;
    background-color: white; */
}
.content2 h1{
    font-size: 50px;
}
.content2 button{
    text-decoration: none;
    background-color: greenyellow;
    color: white;
    width: fit-content;
    border: none;
    border-radius: 20px;
    height: 40px;
    width: 20vh;
    font-weight: 700;
    font-size: 17px;
    position: relative;
    top: 40px;
}


